<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).document</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).document</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>chatdoc</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.document</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChatDocs Document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chatdoc</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
